.App {
  text-align: center;
  transition: all 0.1s linear;
}
.dark {
  background-color: #000;
  color: #fff !important;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title {
  font-size: 44px;
}

.subtitle {
  font-size: 14px;
}

.credits {
  font-size: 12px;
  margin-top: 5px;
}
